# java
/bin/
/out/
*.logManager
/out/
# idea
.idea
*.iml
/resources/tmp4ops/*

# user
/ini_Bjoern_win_multi.txt
/ini_Bjoern_win.txt
/classpath-jens
/ini-Jens-linux.txt
/ini-Jens-win.txt
/user_properties.xml
*.properties
/ini3.txt

# /doc/old/RequirementsAndSpecifications/.gitignore
*.aux
*.out
*.toc
*.bbl
*.blg
*.dvi

# /build/.gitignore
/build/output/

# Test
/userXmlFile.xml
