# java
/bin/
/out/
*.logManager
# idea
.idea
*.iml
/resources/tmp4ops/*

# user
/user_properties.xml
*.properties
/ini3.txt

# /doc/old/RequirementsAndSpecifications/.gitignore
*.aux
*.out
*.toc
*.bbl
*.blg
*.dvi

# /build/.gitignore
/build/output/

# Test
/XModeler2.launch

#wahidClassPath
/.classpath

#ignore log files

logs/*
!logs/java/
/testXMLImport.xml
