/*General*/

a {
    color: #222;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}

.container {
    padding: 5em 1em;
}

/*Hero*/

.hero { /* hero-bg */
    color: #ffffff;
    height: 100vh;
    width: 100vw;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 2s;
}

.bg.active {
    opacity: 1;
}

.bg.img {
    /*background: url("../img/Terrace_Large_compressedd.jpg") 0% / cover no-repeat;*/
}

.bg.gradient {
    background: linear-gradient(45deg, rgba(38,73,49,1) 10%, rgba(38,73,4,1) 45%, rgba(100,188,37,1) 100%);
}

.bg.img-shadow {
    background-color: rgba(0, 0, 0, 0.25);
}

.hero-logo {
    height: 3em;
    margin-top: -15em;
}

.hero > .container {
    color: #ffffff;
    padding: 15em 1em;
    /*background: rgb(0,0,0);*/
    /*background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);*/
}

/*Featured*/

.featured {
    background-color: #f9f9f9;
}

.featured h5 {
    text-align: left;
}

/*Team*/

.team {
    text-align: center;
}

.team .row {
    margin-bottom: 2em;
}

.team .row:last-of-type {
    margin-bottom: 0;
}

/*Footer*/

.footer {
    background-color: #ababab;
    padding: 2em 1em;
}

.footer > .container {
    margin: auto;
}
