/*General*/

a {
    color: #222;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}

.container {
    padding: 5em 1em;
}

/*Hero*/

.hero-bg { /* hero */
    background-color: rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.hero { /* hero-bg */
    background: url(../img/Terrace_Large_compressedd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.hero-logo {
    height: 3em;
    margin-top: -15em;
}

.hero-bg > .container {
    padding: 15em 1em;
    /*background: rgb(0,0,0);*/
    /*background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);*/
}

/*Featured*/

.featured {
    background-color: #f9f9f9;
}

.featured h5 {
    text-align: left;
}

/*Team*/

.team {
    text-align: center;
}

.team .row {
    margin-bottom: 2em;
}

.team .row:last-of-type {
    margin-bottom: 0;
}

/*Footer*/

.footer {
    background-color: #ababab;
    padding: 2em 1em;
}

.footer > .container {
    margin: auto;
}
