@CHARSET "UTF-8";

body {
	background-image: url('../img/background.png');
    background-color: #3377FF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    /*font-size:10pt;*/
    /*line-height:19px;*/
}

h1 {
	font-weight: normal;
}

ul.collapsibleList {
	list-style-image: url('tree/cl.png');
}

ul.list {
	list-style-image: url('tree/file.png');
}

li.collapsibleListOpen {
	list-style-image: url('tree/op.png');
}

li.collapsibleListClosed {
	list-style-image: url('tree/cl.png');
}

a:link, a:visited, a:hover, a:active {
	color: #ffffff;
	text-decoration: none;
}
