body {
    background-color: #ccddee;
}

.primary { color: #1155BB; }

.whitePrimary { color: #ffffff; background: #3377FF; background-image: url("img/background.png");}

.secondary { color: #22AA44; }

.whiteSecondary  { color: #ffffff; background: #22AA44; }
h1 {
    margin-left: 20px;
}

img{
	border: none;
}

* {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:10pt;		
}
p {
    margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

td.giantTitle {
    color: #ffffff;
	font-size: 550%;
	font-family: "Lucida Console";
	text-align: center;
}
td.smallTitle {
    color: #ffffff;
	font-size: 100%;
	font-family: "Lucida Console";
	text-align: center;
}

td.linkPrimary {
    color: #ffffff;
	background: #1155bb;
}t

td.linkPrimarySelected{
    background: #ffffff;
	color: #1155bb;
}
a {
        text-decoration:none;
        color:#ffffff;}

a:hover {
        text-decoration:none;
        color:#ffffff;}
a.menu {
		text-decoration:none;
		color:#ffffff; }

a.menu:hover {
		color:#ffffff;
		text-decoration:none; }